# ========== БАЗА ДАННЫХ ==========
DB_URL=jdbc:postgresql://localhost:5432/bank_rest_local
DB_USERNAME=bank_user
DB_PASSWORD=1376

# ========== JWT НАСТРОЙКИ ==========
JWT_SECRET=w9jFKLlGvHyw0hvelyAgCdzWhLOePf81rS1ZZsEFuC2
JWT_EXPIRATION=86400000# 24 часа
JWT_REFRESH_EXPIRATION=604800000# 7 дней

# ========== ШИФРОВАНИЕ ==========
JASYPT_ENCRYPTOR_PASSWORD=your-encryption-password-change-in-production

# ========== НАСТРОЙКИ ПРИЛОЖЕНИЯ ==========
SERVER_PORT=8080
ALLOWED_ORIGINS=http://localhost:3000
SWAGGER_ENABLED=true

# ========== ЛОГИРОВАНИЕ ==========
LOG_LEVEL=INFO
SECURITY_LOG_LEVEL=WARN
SQL_LOG_LEVEL=WARN
SHOW_SQL=false

# ========== ДЕФОЛТНЫЕ ПАРОЛИ ==========
ADMIN_DEFAULT_PASSWORD=admin123
USER_DEFAULT_PASSWORD=user123

# ========== DOCKER НАСТРОЙКИ ==========
POSTGRES_DB=bank_cards
POSTGRES_USER=bank_user
POSTGRES_PASSWORD=1376
POSTGRES_PORT=5432
APP_PORT=8080
